.admin_club {
	margin-top: 64px;
}

.admin_club h2 {
	/* margin-top: 74px; */
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}

.admin_club h3 {
	font-size: 22px;
	padding: 5px 0;
	font-weight: bold;
}

.nueva_categoria {
	margin-left: 50px;
}

.nueva_categoria input,
.nueva_categoria button {
	font-size: 14px;
	margin-right: 10px;
	padding: 4px 8px;
}

.nueva_categoria button {
	background: none;
	border: 1px solid rgb(92, 146, 4);
	color: rgb(92, 146, 4);
	border-radius: 12px;
	padding: 4px 12px;
}

.torneos_view {
	margin: 20px 0 20px 50px;
	display: flex;
}

.form_torneo {
	display: flex;
	flex-direction: column;
}

.form_torneo input,
.form_torneo textarea,
.form_torneo select {
	margin: 10px 0;
	padding: 3px;
	font-size: 14px;
}

.form_torneo textarea {
	min-width: 380px;
	min-height: 80px;
	max-width: 380px;
	max-height: 180px;
}

.form_torneo label {
	margin-right: 8px;
}

.form_torneo button {
	padding: 8px 0;
	background-color: teal;
	color: white;
	border: none;
	border-radius: 12px;
	font-size: 16px;
}

.torneos_list {
	margin-left: 20px;
}

.torneos {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.torneo_adm {
	cursor: pointer;
	margin: 10px;
	position: relative;
}

.torneo_adm .edit_bt {
	position: absolute;
	top: 0;
	right: 0;
}

.torneos_all {
	margin-left: 50px;
}

.torneos_all input {
	font-size: 14px;
	width: 300px;
	padding: 0 5px;
	border: none;
	border-bottom: 1px solid #757575;
	margin-bottom: 15px;
}

.paper_editorneo {
	padding: 10px 20px;
	width: 400px;
	overflow-y: auto;
	max-height: 75vh;
}

.paper_editorneo h3 {
	text-align: center;
	font-size: 22px;
	font-weight: bold;
}

.paper_editorneo div {
	margin-bottom: 8px;
}

.paper_editorneo label {
	font-weight: bold;
}

.paper_editorneo input[type='text'] {
	width: 300px;
}

.paper_editorneo input[type='checkbox'] {
	margin-left: 15px;
}

.paper_editorneo textarea {
	min-width: 100%;
	max-width: 100%;
	min-height: 50px;
	max-height: 90px;
}

.paper_editorneo input,
.paper_editorneo select {
	margin-left: 5px;
}

.paper_editorneo .edit_bts {
	margin-top: 10px;
	width: 100%;
	text-align: center;
}

.paper_editorneo button {
	padding: 4px 10px;
	margin: 0 10px;
	border: none;
	border-radius: 5px;
	color: white;
	font-size: 16px;
}

.cerrar_edit {
	background-color: #804400;
}

.submit_edit {
	background-color: #008080;
}

.datos_cancha {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.datos_cancha table td,
.datos_cancha table th {
	text-align: center;
}

.canchas button {
	background: none;
	border: 1px solid rgb(92, 146, 4);
	color: rgb(92, 146, 4);
	border-radius: 12px;
	padding: 4px 12px;
	margin-left: 10px;
}

.formCancha {
	border: 1px solid green;
	border-radius: 12px;
	width: 570px;
	margin: auto;
	padding: 20px 0;
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: end;
}

.formCancha input {
	width: 80px;
	margin: 8px 0;
}

.formCancha span {
	margin: 8px;
}

.formCancha button {
	text-align: center;
}

.canchas table {
	width: 100%;
}

.canchas table th,
.canchas table td {
	text-align: center;
}

.jugadores_admin {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.form_nuevojug {
	margin: 25px 0;
	padding: 10px 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 12px;
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
}

.form_nuevojug div {
	margin: 5px 0;
	display: flex;
	gap: 10px;
}

.form_nuevojug input,
.form_nuevojug select {
	background: none;
	border: none;
	border: 1px solid #9c9c9c;
	padding: 2px 0 2px 5px;
	border-radius: 4px;
}

.form_nuevojug #torneo {
	width: 170px;
}

.form_nuevojug #categoria {
	width: 170px;
}

.form_nuevojug #dni {
	width: 100px;
}

.form_nuevojug #nombre {
	width: 200px;
}

.form_nuevojug #handicap {
	width: 50px;
}

.form_nuevojug #club_per {
	width: 200px;
}

.form_nuevojug .green {
	color: #009100;
	margin: 5px;
}

.form_nuevojug button {
	margin-top: 5px;
	width: 200px;
	padding: 8px;
	background: none;
	color: #009100;
	border: none;
	border: 1px solid #009100;
	border-radius: 12px;
	font-size: 16px;
	display: block;
	transition: all 0.3s;
}

.form_nuevojug button:hover {
	background-color: #009100;
	color: white;
}

.jugadores_torneo {
	width: 80vw;
	margin-bottom: 25px;
	padding: 20px;
	border-radius: 12px;
	background-color: #eaffdeff;
	box-shadow: 0 10px 18px -12px rgba(0, 0, 0, 0.45);
}

.jugadores_torneo_header {
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.jugadores_torneo_header select {
	background-color: #dcffc7;
	border: none;
	padding: 5px;
	border-radius: 4px;
	border: 1px solid #9c9c9c;
	cursor: pointer;
}

.jugadores_torneo_header button {
	background-color: red;
	color: white;
	border: none;
	padding: 5px 15px;
	border-radius: 4px;
}

.jugadores_torneo_header span {
	font-size: 22px;
	font-weight: bold;
	margin: 0 20px;
}

table {
	width: 100%;
	margin-bottom: 20px;
	border-collapse: collapse;
	font-size: 14px;
}

table tr:nth-child(even) {
	background-color: #dfdfdf;
}

table tr:hover {
	background-color: #caebca;
}

.jugadores_torneo table caption label {
	color: #0b52bb;
}

caption {
	background-color: #caebca;
	font-weight: bold;
	/* border: 1px solid black; */
	padding: 4px 0;
	/* border-bottom: none; */
	position: relative;
}

caption button {
	position: absolute;
	top: 3px;
	right: 10px;
	background: none;
	border: none;
	color: #c90000;
	font-size: 14px;
}

th,
td {
	border-top: 1px solid white;
	padding: 4px 8px;
	text-align: left;
}

th {
	background-color: #d5d9eb;
}

.modal {
	position: fixed;
	z-index: 1;
	top: 64px;
	left: 0;
	width: 100%;
	height: calc(100vh - 64px);
	background-color: hsla(0, 0%, 0%, 0.3);
	display: flex;
	align-items: center;
	justify-content: center;
	overflow-y: hidden;
}

.modal_cont {
	max-width: 95%;
	max-height: 82vh;
	padding: 10px 20px;
	border-radius: 12px;
	background-color: white;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	overflow-x: hidden;
}

.modal_cont .modal_title {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* position: relative; */
}

.modal_cont .modal_title h3 {
	margin: 0;
}

.modal_cont .modal_title select {
	/* position: absolute;
	left: 0; */
	background: none;
	border: none;
	padding: 5px;
	border-radius: 4px;
	border: 1px solid #9c9c9c;
	cursor: pointer;
}

/* .modal_cont .modal_title button {
	position: absolute;
	right: 0;
} */

.modal_cont h3 {
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 10px;
}

.modal_cont h3 b {
	color: #18782d;
}

.modal_cont h4 {
	font-size: 18px;
	text-align: center;
}

.modal_cont p {
	font-size: 16px;
	text-align: center;
}

.modal_cont form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.modal_cont form input {
	width: 75px;
	margin: 5px;
}

.graf_inscriptos {
	width: 100%;
	height: 500px;
	display: flex;
	justify-content: center;
}

.graf_inscriptos canvas {
	background-color: hsla(120, 100%, 28%, 0.08);
}

/* Puedes agregar esto a tu archivo CSS global o al CSS del componente */

.modal_edit_cancha {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.4);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
}

.modal_edit_cancha_cont {
	margin-top: 74px;
	background: #fff;
	padding: 10px;
	border-radius: 12px;
	box-shadow: 0 2px 16px rgba(0, 0, 0, 0.2);
	max-width: 600px;
	width: 95vw;
	max-height: 75vh;
	overflow-y: auto;
}

.modal_edit_cancha_cont h3 {
	text-align: center;
}

.modal_edit_cancha_cont form {
	display: flex;
	flex-direction: column;
}

.modal_edit_cancha_cont form>div {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	flex-wrap: wrap;
	background: #ebebeb;
	padding: 5px;
	border-radius: 6px;
}

.modal_edit_cancha_cont input[type="number"] {
	padding: 2px 5px;
	border-radius: 4px;
	border: 1px solid #ccc;
}

.modal_edit_cancha_cont button {
	padding: 10px 0;
	border-radius: 6px;
	border: none;
	background: #1976d2;
	color: #fff;
	font-weight: bold;
}

.modal_edit_cancha_cont button[type="button"] {
	background: #808080;
	margin-top: 10px;
}

.modal_edit_cancha_cont button:hover {
	background: #125ea2;
}

.modal_edit_cancha_cont button[type="button"]:hover {
	background: #686868;
}

.no-scroll {
	overflow-y: hidden;
}

/* Puedes agregar esto a tu CSS global o al archivo del componente */

.modal_edit {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.4);
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal_edit_cont {
	max-width: 80%;
	max-height: 60%;
	overflow-y: auto;
	background-color: white;
	padding: 20px;
	border-radius: 12px;
}

.modal_edit_cont form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
	/* margin-right: 15px; */
	margin-top: 10px;
}

.modal_edit_cont form div {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
}

.modal_edit_cont input[type="number"] {
	width: 40px;
}

@media (max-width: 1060px) {
	.admin_club h3 {
		font-size: 15px;
	}

	.admin_club h2 {
		font-size: 22px;
	}

	.nueva_categoria {
		margin: 20px 0 15px 20px;
	}

	.torneos_view {
		width: calc(100% - 75px);
		margin-left: 20px;
		display: block;
	}

	.paper_newtorneo {
		width: 100%;
	}

	.form_torneo input,
	.form_torneo textarea,
	.form_torneo select {
		margin: 5px 0;
		padding: 2px;
		font-size: 14px;
	}

	.form_torneo textarea {
		min-width: 96%;
		min-height: 80px;
		max-width: 96%;
		max-height: 180px;
	}

	.torneos_list {
		margin: 0;
		margin-top: 10px;
	}

	.torneos_list h3 {
		font-size: 18px;
	}

	.torneos_all {
		margin: 0;
	}

	.torneos_all h3,
	.torneos_all label {
		margin-left: 20px;
	}

	.torneos_all input {
		font-size: 14px;
		width: 200px;
		padding: 0 5px;
		border: none;
		border-bottom: 1px solid #757575;
		margin-bottom: 15px;
	}

	.form_nuevojug {
		width: 300px;
		margin: 25px 0;
		padding: 10px;
		display: flex;
		flex-direction: column;
		gap: 10px;
		border-radius: 12px;
		box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
	}

	.form_nuevojug div {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: start;
		gap: 10px;
		margin: 0;
	}

	.form_nuevojug span {
		margin: 0;
	}

	.form_nuevojug input,
	.form_nuevojug select {
		margin-right: 0;
		width: 100% !important;
		box-sizing: border-box;
	}

	.jugadores_torneo {
		width: 90vw;
	}
}

@media (max-width: 900px) {

	.MuiToolbar-root,
	.MuiToolbar-regular,
	.css-1u9o2lj-MuiToolbar-root {
		margin-top: 2px;
	}

	.jugadores_torneo {
		width: 90vw;
		padding: 10px;
	}

	.jugadores_torneo_header {
		flex-direction: column;
		gap: 6px;
	}

	.jugadores_torneo_header span {
		order: 1;
	}

	.jugadores_torneo_header button {
		order: 2;
	}

	.jugadores_torneo_header select {
		order: 3;
	}

	.jugadores_torneo_header button,
	.jugadores_torneo_header select {
		width: 100%;
	}
}