.loading {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-size: 24px;
	color: #187856;
}

.css-hhdjsd-MuiContainer-root {
	z-index: 1;
	position: fixed;
}

.nav_logo {
	width: 50px;
}

@media (max-width: 900px) {
	.nav_logo {
		width: 45px;
		margin-top: 4px;
	}

}

.nav_a {
	font-size: 18px;
	padding: 8px;
	margin-right: 15px;
	color: white;
	text-decoration: none;
	letter-spacing: 0.5px;
	cursor: pointer;
	text-transform: capitalize;
}

.active {
	border-bottom: 1px solid white;
}

.acces_icon {
	size: 200px;
}

.login {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.login h2 {
	font-size: 35px;
}

.login p {
	text-align: center;
	color: #444;
}

.login form {
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.login form input {
	padding: 8px 15px;
	width: 300px;
	font-size: 16px;
	border: none;
	border: 1px solid #aaa;
	border-radius: 12px;
	background-color: #0066000d;
}

.login form .submit {
	background: none;
	border-radius: 12px;
	padding: 8px 20px;
	font-size: 18px;
	color: #008000;
	border: 1px solid #008000;
	transition: all 0.3s;
}

.login form .submit:hover {
	background-color: rgb(92, 146, 4);
	border: 1px solid rgb(92, 146, 4);
	color: white;
}

.error_login {
	font-size: 12px;
	color: rgb(206, 0, 0);
	text-align: start;
}

.incorrecto {
	position: absolute;
	top: 110px;
	left: 50%;
	transform: translate(-50%, -50%);
}

.admin_view .logout {
	position: fixed;
	top: 20px;
	right: 20px;
	padding: 5px 12px;
	background-color: rgb(207, 89, 89);
	color: white;
	border: none;
	border-radius: 12px;
	font-size: 18px;
}

.header_admin {
	position: fixed;
	top: 20px;
	right: 20px;
	padding: 5px;
	display: flex;
	flex-direction: column;
	background-color: rgba(255, 255, 255, 0.685);
	color: black;
	border-radius: 12px;
	text-align: center;
}

.header_admin span {
	width: 100%;
}

.admin_view h2 {
	margin: 40px 0;
	font-size: 35px;
	font-style: italic;
	text-align: center;
}

ul li {
	margin: 20px 0;
}

ul li button {
	padding: 0 8px;
	margin: 0 10px;
}

@media (max-width: 900px) {
	.nav_a {
		color: black;
	}

	.active {
		border: none;
	}

	.login {
		margin-top: -20px;
	}

	.login form input {
		width: 80%;
	}

	.error_login {
		text-align: center;
	}
}